[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "==0.3.9"
requests = "==2.18.4"
six = "==1.11.0"

[dev-packages]
pytest = ">=2.8.0"
sphinx = "==1.6.5"
twine = "==1.9.1"
wheel = "==0.30.0"
"SZCAOCIi" = {path = ".", editable = true}